body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 3%;
}

.crystal-img {
    width: 150px;
    height: 150px;
    margin: 0px 5px;
}

.crystal-img:first-child {
    margin-left: 10px;
}

h1 {
    font-family: "Palatino";
    font-weight: bolder;
    font-size: 42px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/logo.jpg");
    padding: 25px 0px 25px 0px;
    width: 100hh;
    margin: 10px 10px;
    border-style: solid;
    text-shadow: black 2px 2px;
    border-width: 3px 3px;
    border-color: black;
    display: inline-block;
}

p { 
    padding: 15px 5px 15px 5px;
    font-size: 26px;
    color: rgb(0, 175, 0);
    font-weight: bold;
}

#instructions {
    width: 550px;
    height: 550px;
    background-color: rgb(173, 173, 173, 0.5);
    border-style: solid;
    text-shadow: black 2px 2px;
    border-width: 3px 3px;
    border-color: red;
    margin: 0px 10px 10px 10px;
}

#score-goal {
    width: 277px;
    height: 140px;
    font-size: 50px;
    color: purple;
    background-color: rgb(59, 177, 59);
    margin: 0px 10px 10px 10px; 
    float: left;
}

#wrapper {
    width: fit-content;
}

#win-loss {
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 140px;
    width: 150px;
    background-color: rgb(132, 132, 250);
    color: blue;
    font-size: 34px;
    line-height: 40px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    float: right;
}

#total-text {
    width: 277px;
    height: fit-content;
    margin: 10px 10px 10px 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 28px;
    clear: both;
}

#score {
    width: 277px;
    height: 125px;
    margin: 10px 10px 10px 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.instructions-container {
    float: left;
}

.game-container {
    margin-top: 8.5%;
    margin-right: 4%;
    float: right;
}
